<% include ../partials/header %>
    <div class="container">
        <div class="user_container">
            <div class="card">
                <img src="https://3wcmm13zx3fn2h5mb93jvvkr-wpengine.netdna-ssl.com/fuel/wp-content/uploads/sites/8/2017/07/Ann-Hardley-300x218.jpeg?ver=1543923885"></img>
                <div class="card-body">
                  <h6>ceo/co-founder</h6>    
                  <h4 class="card-title">Alec Thompson</h4>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde ratione consectetur ex atque necessitatibus libero omnis dolor quae. Labore natus, illum architecto culpa. Libero praesentium atque nulla itaque obcaecati hic?</p>
                  <a href="#" class="btn btn-primary">Follow</a>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>